@media (max-width: 1024px){

    body div.content-web main {
        flex-direction: column;
        width: 45rem;
        border-radius: 2rem 2rem 0rem 0rem;
    }

    body div.content-web main picture img {
        width: 100%;
        height: 37.5rem;
        border-radius: 2rem 2rem 0rem 0rem;
    }

    body div.content-web main picture img.desktop {
        display: none;
    }

    body div.content-web main picture img.mobile {
        display: block;
    }

    body div.content-web main aside.info-box {
        margin-top: 3rem;
        padding-inline: 5rem;
    }

    body div.content-web main aside.info-box h1 {
        font-size: 3.5rem;
    }

    body div.content-web main aside.info-box p {
        font-size: 2.3rem;
    }

    body div.content-web main aside.info-box div.prices-box {
        justify-content: flex-start;
    }

    body div.content-web main aside.info-box button {
        margin-bottom: 2.5rem;
    }


}